body {
    width: 80%;
    background-color : aqua;
    margin: auto;
}
h1 , h2{
    margin: 10px;
    text-align : center;
    text-decoration: underline;
}
.wrapper{
    width: 100%;
    display : flex;
    flex-direction : column;
    justify-content : center;
    margin-top: 40px;
}
.form{
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items : center;
}
.buttons{
    grid-column : 2/3;
    display : flex;
    justify-content : flex-end;;
}
.button{
    flex: 1;
}
input , .button {
    height : 30px;
}
label{
    font-weight : bolder;
}

.countries {
    border-collapse: collapse;
    margin: 10px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.countries thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.countries th,
.countries td {
    padding: 12px 15px;
}
.countries tbody tr {
    border-bottom: 1px solid #dddddd;
}

.countries tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.countries tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.countries tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
.group{
    display: flex;
}
select{
    flex: 1;
}