.wrapper{
    display: grid;
    gap: 10px;
    height: 100vh;
    /*flex : 1 200px*/
    /*grid-template-columns: repeat(auto-fill , minmax(200px , 1fr));*/
    grid-template-columns: 1fr 4fr;
    grid-template-rows:10vh auto 10vh;

    grid-template-areas:
        "side-nav side-nav"
        "main main"
        "footer footer";
}
.nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-right: 10px;
}
.section{
    background-color: darkgrey;
}
.side-nav{
    display: flex;
    justify-content: space-between;
    background-color: darksalmon;
    grid-area: side-nav;}
.footer{
    background-color: yellow;
    grid-area: footer;
}
.main{grid-area: main;}